.padre
{
    height: 50vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
}

.caja
{
    background: teal;
    color: beige;
    padding: 10px;
    text-align: center;

}

.titulo
{
    text-align: center;
}

body
{
    margin: 0;
    padding: 0;
}

.arriba
{
    background: #EBE9F2;
    height: 50vh;
}

.abajo
{
    
    height: 50vh;
}